
 *{
    /* margin: 0;
    padding: 0;
     box-sizing: border-box;  */
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
  }
  .mainpayment{
      width:100%;
      
     display: block;
     margin-top: 30px;
     overflow: auto;
}
.qrcode{
    width:49%;
    text-align: center;
   
    float:left;
}
.upiid{
    width:49%;
    height: 250px;
    text-align: center;
    
    float:right;
    align-items: center;
    
}
#upi{
    padding-top: 70px;
    
}

h4{
  text-align: center;
  padding:40px 0px 0px 0px;
}

@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */
    .qrcode{
        width: 100%;
    }
    .upiid{
        width:100%;
    }
  }


  /* header Section */
  body{
    font-family: 'Poppins',sans-serif;
  }
  nav{
    background: #f5cf26;
    height: 85px;
    width: 100%;
    position:relative;
    
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    
  }
  
  nav ul{
    float: right;
    margin-right: 20px;
    margin-bottom:0px;
    
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
    color:black;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
    h4{
      padding:0px 0px 0px 0px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: absolute;
      width: 100%;
      height: 70vh;
      background: #14181d;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      padding:0px;     /*change */
    }
    nav ul li{
      display: block;
      margin: 50px 0px;
      line-height: 30px;
    
    }
    nav ul li a{
      font-size: 20px;
     
    }
    a:hover,a.active{
      background: #1b9bff;
      color: black;
      
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  
  .support-us{
    margin:10px;
    text-align: center;
    text-transform: uppercase;
    padding:5px;
    border-radius:5px;
    border:none;
    background-color: green;
    color:white;
  }
  .support-us:hover{
      background-color: green;
      color:white;
  }